@keyframes popup {
  0% {
    transform: translateY(0px);
  }
  3% {
    transform: translateY(-1px);
  }
  4% {
    transform: translateY(-3px);
  }
  5% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(0px);
  }
  23% {
    transform: translateY(1px);
  }
  24% {
    transform: translateY(3px);
  }
  25% {
    transform: translateY(0px);
  }
  
  100% {
    transform: translateY(0px);
  }
}

.eyes {
    animation: popup 20s 1.5s ease infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(-1px);
  }
  7% {
    transform: translateY(-3px);
  }
  9% {
    transform: translateY(0px);
  }
  
  40% {
    transform: translateX(0px);
  }
  42% {
    transform: translateX(6px);
  }
  70% {
    transform: translateX(10px);
  }
  85% {
    transform: translateX(-7px);
  }
  90% {
    transform: translateX(0px);
  }
}

.avatar #Layer_1, #Layer_2 {
  animation: jump 5s 1.5s ease-in-out infinite;
}

@keyframes bungee {
  0% {
    transform: rotateZ(-15deg) translateY(-500px);


  }

  25% {
    transform: rotateZ(15deg) translateY(100px);

  }


  50% {
    transform: rotateZ(0deg) translateY(-160px);

  }
  75% {
    transform: rotateZ(-15deg) translateY(60px);

  }
  100% {
    transform: rotateZ(0deg) translateY(0px);

  }
}

.bungeejumping {
  animation: bungee 2s 0s ease-in-out 1;
  box-shadow: none;
}

