@import "typicons";

body {
	font: 14px arial;
	background: #fff;
	overflow: hidden;
}

.idea {
	width: 200px;
    height: 200px;
    top: -150px;
    position: absolute;
    right: -10px;
    .idea-text {
        position: absolute;
	    top: 50%;
	    height: 40px;
	    padding: 20px 30px;
	    margin-top: -55px;
    }

    .idea-image {
	    width: 80px;
	    height: 80px;
	    top: 50%;
	    right: 50%;
	    position: absolute;
	    margin-top: -40px;
	    margin-right: -40px;
    }

    background: url("/img/spraakwolk.svg") no-repeat 100%;

    transition: 300ms all;
    opacity: 0;
    &.visible {
    	opacity: 1;
    }
}


.top-bar {
	z-index: 1000;
	position: fixed;
	top: 0;
	height: 80px;
	background: rgba(0, 0, 0, 0.25);
	left: 0;
	right: 0;
}

.top-bar ul {
	display: block;
	list-style: none;
	margin: 20px 20px;
	padding: 0;
}

.top-bar ul li {
    border-radius: 5px;
    border: 1px solid #000;
    padding: 9px;
    float: left;
    margin-right: 10px;
    font-size: 18px;
    .typcn {
    	font-size: 24px;
    }
}

.avatar {
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
	width: 300px;
	height: 300px;
	box-shadow: 0 55px 45px -45px;
}

.wall {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70vh;
    background: #eee;
}
.floor {
	position: fixed;
    bottom: 0;
    height: 30vh;
    background: url('/img/floor.svg');
    background-size: 120%;
    background-position: center;
    left: 0;
    right: 0;
}

.settings {
	z-index: 1000;
	position: absolute;
	padding: 20px;
	height: 100px;
	bottom: 0;
	transform: translate3d(0, 140px, 0);
	right: 0;
	left: 0;
	background: rgba(51,64,189,0.9);
	transition: 300ms all;
	&.visible {
		transform: translate3d(0, 0, 0);
	}
	.settings-body {
		padding: 10px 0;
	}
}

.icon-button {
    font-size: 52px;
    background: transparent;
    color: #fff;
    text-shadow: 2px 0 5px #000;	
    cursor: pointer;
    outline: none;
    border: 0;
}

.button-group {
	position: absolute;
    bottom: 80px;
    right: 20px;
}
.button-settings {
	z-index: 1001;
	position: absolute;
    bottom: 20px;
    right: 20px;
}

input[type=button] {
	border: 0;
	padding: 5px 10px;
}


.dialog {
	position: absolute;
    z-index: 10000;
    background: rgba(255,255,255,0.98);
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    border-radius: 6px;
    overflow: hidden;
}
.dialog-title {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	background: #ccc;
}
.dialog-body {
	position: absolute;
	top: 40px;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: auto;
}

.actions {
	position: absolute;
    bottom: 20px;
    z-index: 999;
    left: 20px;

    button {
    	background: transparent;
    	border: 0;
    	font-size: 60px;
    	color: #fff;
    	text-shadow: 0 0 5px #000;
    	outline: none;
    	cursor: pointer;
    	&:hover {
    		text-shadow: 0 0 15px #fff;
    	}
    }
}