@import "typicons";

body {
	font: 14px arial;
	background: #fff;
	overflow: hidden;
}

.asset {
	display: none;
}
.asset.surfboard {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 294px;
    bottom: 20%;
    right: 20%;
    background: url("../img/surfboard.svg");
}
.asset.sun {
	position: absolute;
    z-index: 1;
    width: 150px;
    height: 143px;
    top: 18px;
    right: 20px;
    background: url("../img/sun.svg");
}

.asset.phone {
    position: absolute;
    z-index: 1001;
    width: 48px;
    height: 48px;
    bottom: 60%;
    left: 40%;
    background: url("../img/phone.svg");
}

.asset.sunscreen {
    position: absolute;
    z-index: 1;
    width: 257px;
    height: 254px;
    bottom: 15%;
    left: 5%;
    background: url("../img/sunscreen.svg");
}

.asset.hammock {
    position: absolute;
    z-index: 1;
    left: 15%;
    background: url("../img/hammock.svg");
    right: 15%;
    background-size: contain;
    top: 5%;
    bottom: 20%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.asset.turkeytable {
    position: absolute;
    z-index: 1000;
    left: 15%;
    background: url("../img/turkeytable.svg");
    right: 15%;
    background-size: contain;
    top: 45%;
    bottom: 10%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.asset.bank {
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 158px;
    bottom: 25%;
    left: 50%;
    background: url("../img/couch.svg");
    margin-left: -175px;
}

.asset.tv {
    position: absolute;
    width: 500px;
    height: 311px;
    bottom: -10%;
    left: 50%;
    background: url("../img/tv.svg");
    margin-left: -250px;
    z-index: 1000;
    background-position: center;
}

.asset.family {
    position: absolute;
    right: 5%;
    background: url("../img/family.svg");
    z-index: 1;
    background-position: center;
    left: 5%;
    height: 255px;
    bottom: 25%;
    background-repeat: no-repeat;
}

.asset.christmastree {
    position: absolute;
    z-index: 1;
    width: 257px;
    height: 354px;
    bottom: 25%;
    right: 5%;
    background: url("../img/christmastree.svg")
}

.scene-christmas {
	.asset.turkeytable {
		display: inline-block;
	}
	.asset.christmastree {
		display: inline-block;
	}
	.asset.family {
		display: inline-block;
	}
	.wall {
		background-color: #81161C;
	}
}

.scene-beach {
	.asset.surfboard, .asset.sun, .asset.sunscreen {
		display: inline-block;
	}
}
.scene-park {
	.asset.hammock {
		display: inline-block;
	}
}
.scene-tv {
	.asset.tv, .asset.bank {
		display: inline-block;
	}
}

.scene-call {
	.asset.phone {
		display: inline-block;
	}
}

.idea {
	z-index: 999;
	width: 200px;
    height: 200px;
    top: -150px;
    position: absolute;
    right: -10px;
    .idea-text {
        position: absolute;
	    top: 50%;
	    height: 40px;
	    padding: 20px 30px;
	    margin-top: -55px;
    }

    .idea-image {
	    width: 80px;
	    height: 80px;
	    top: 50%;
	    right: 50%;
	    position: absolute;
	    margin-top: -40px;
	    margin-right: -40px;
    }

    background: url("/img/spraakwolk.svg") no-repeat 100%;

    transition: 300ms all;
    opacity: 0;
    &.visible {
    	opacity: 1;
    }
}


.top-bar {
	z-index: 1000;
	position: fixed;
	top: 0;
	height: 80px;
	background: rgba(0, 0, 0, 0.25);
	left: 0;
	right: 0;
}

.top-bar ul {
	display: block;
	list-style: none;
	margin: 20px 20px;
	padding: 0;
}

.top-bar ul li {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 9px;
    float: left;
    margin-right: 10px;
    font-size: 18px;
    .typcn {
    	font-size: 24px;
    }

    background: #fff;
    transition: 300ms all;
    &.score-5 {
    	background: #39B54A;
    }
    &.score-4 {
    	background: #8CC63F;
    }
    &.score-3 {
    	background: #FCEE21;
    }
    &.score-2 {
    	background: #F15A24;
    }
    &.score-1 {
    	background: #C1272D;
    }
}

.avatar {
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
	width: 300px;
	height: 300px;
	box-shadow: 0 55px 101px -55px rgba(0,0,0,0.25);
}


.wall {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70vh;
    background: #eee;

    transition: all 300ms;

    .scene-beach &, .scene-park &, .scene-bungee & {
    	background: #cff5ff;
    }
}
.floor {
	position: fixed;
    bottom: 0;
    height: 30vh;
    background: #8c6239;
    background-size: 120%;
    background-position: center;
    left: 0;
    right: 0;

     .scene-beach & {
     	background: #E9D894;
     }

     .scene-park & {
     	background: #8CC63F;
     }
}

.settings {
	z-index: 1001;
	position: absolute;
	padding: 20px;
	height: 100px;
	bottom: 0;
	transform: translate3d(0, 140px, 0);
	right: 0;
	left: 0;
	background: rgba(20,20,20,0.9);
	transition: 300ms all;
	&.visible {
		transform: translate3d(0, 0, 0);
	}
	.settings-body {
		padding: 10px 0;
	}
}

.icon-button {
    font-size: 52px;
    background: transparent;
    color: #fff;
    text-shadow: 2px 0 5px #000;	
    cursor: pointer;
    outline: none;
    border: 0;
}

.button-group {
	position: absolute;
    bottom: 80px;
    right: 20px;
}
.button-settings {
	z-index: 1001;
	position: absolute;
    bottom: 20px;
    right: 20px;
}

input[type=button] {
	border: 0;
	padding: 5px 10px;
}


.dialog {
	position: absolute;
    z-index: 10000;
    background: rgba(255,255,255,0.98);
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    border-radius: 6px;
    overflow: hidden;
}
.dialog-title {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	background: #ccc;
}
.dialog-body {
	position: absolute;
	top: 40px;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: auto;
}

.points {
	.icon-positive, .icon-negative {
		display: none;
	}
	&.positive {
		.icon-positive {
			display: inline-block;
			color: lightgreen;
		}
	}
	&.negative {
		.icon-negative {
			display: inline-block;
			color: red;
		}
	}
}

.actions {
	position: absolute;
    bottom: 20px;
    z-index: 999;
    left: 20px;

    transition: 300ms all;
    opacity: 0;
    &.visible {
    	opacity: 1;
    }

    button {
    	background: transparent;
    	border: 0;
    	font-size: 60px;
    	color: #fff;
    	text-shadow: 0 0 5px #000;
    	outline: none;
    	cursor: pointer;
    	&:hover {
    		text-shadow: 0 0 15px #fff;
    	}
    }
}

.dialog-title {
	font-size: 1.75em;

}
.dialog-body ul.opties {
	margin: 0;
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.opties li {
	&:hover {
		background-color: #dddddd;
	}
	position:relative;
	float: left;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	
	display: inline-block;
	width: 44%;
	height: 90%;
	border-radius: 15px;
	
	background-color: #eee;
	padding: 2%;
	font-size: 2em;
	.typcn {
		
		height: 200px;
		margin-left: auto;
		width: 100%;
		font-size: 5em;
	}
}

