@import "typicons";

body {
	font: 14px arial;
	background: #fff;
}

.idea {
	width: 200px;
    height: 200px;
    top: -150px;
    position: absolute;
    right: -10px;
    .idea-text {
        position: absolute;
	    top: 50%;
	    height: 40px;
	    padding: 20px 30px;
	    margin-top: -55px;
    }

    .idea-image {
	    width: 80px;
	    height: 80px;
	    top: 50%;
	    right: 50%;
	    position: absolute;
	    margin-top: -40px;
	    margin-right: -40px;
    }

    background: url("/img/spraakwolk.svg") no-repeat 100%;

    transition: 300ms all;
    opacity: 0;
    &.visible {
    	opacity: 1;
    }
}


.top-bar {
	z-index: 1000;
	position: fixed;
	top: 0;
	height: 80px;
	background: rgba(0, 0, 0, 0.25);
	left: 0;
	right: 0;
}

.top-bar ul {
	display: block;
	list-style: none;
	margin: 20px 20px;
	padding: 0;
}

.top-bar ul li {
	border-radius: 5px;
	border: 2px solid #000;
	padding: 10px;
	float: left;
	margin-right: 10px;
}

.avatar {
	position: absolute;
	z-index: 1000;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
	width: 300px;
	height: 300px;
	box-shadow: 0 55px 45px -45px;
}

.wall {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70vh;
    background: #eee;
}
.floor {
	position: fixed;
    bottom: 0;
    height: 30vh;
    background: url('/img/floor.svg');
    background-size: 120%;
    background-position: center;
    left: 0;
    right: 0;
}