@keyframes popup {
  0% {
    transform: translateY(0px);
  }
  34% {
    transform: translateY(2px);
  }
  37% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}

.eyes {
    animation: popup 2s 1.5s ease infinite;
}